/* CSS Document */
/*===デザイン定義===*/
/*
カラー指定：赤（#E2090D）、青（#083e7a）、白（#ffffff）、ベージュ（#f3e4d0）
フォントカラー：#222222
フォント：日本語（游ゴシック体）、アルファベット（Cabin Sketch, cursive）、数字（検討中）
フォントサイズ：英語見出し（）、日本語サブ見出し（）、通常テキスト、


/*プログラム　カテゴリ別カラー
・食べる：#ED2C2C（赤）
・ステージ：#FDFD6A（黄色）
・体験する：#B8F06A（黄緑）
・知る：#267BEF（青）
・ショップ：#FFB100（オレンジ）*/

/*ローディング中画像*/
#loader{
    width: 80px;
    height: 80px;
    display: none;
    position: fixed;
    _position: absolute;     /* IE6対策 */
    top: 50%;
    left: 50%;
    margin-top: -40px;       /* heightの半分のマイナス値 */
    margin-left: -40px;      /* widthの半分のマイナス値 */
    z-index: 10;             /* #fadeより多い値を入れて下さい */
}
#loader p{
	font-family: 'Cabin Sketch', cursive;
	font-size:20px;
	letter-spacing: 3px;
	margin-top:10px;
}
#fade{
    width: 100%;
    height: 100%;
    display: none;
    background-color: #f3e4d0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;              /* #loaderより少ない値を入れて下さい */
}
/*ここまでローディング中画像*/
html{
	width:100%;
	font-size:65%;
	font-family: 'Montserrat',"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	/*font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";*/
}
body{
	width:100%;
	/*background-color:#f3e4d0;*/
	color:#222222;
	background-color:#f3e4d0;
}

/*===共通===*/
.midashi h2{
	font-size:45px;
	letter-spacing: 0.1em;
	font-family: 'Cabin Sketch', cursive;
}
.midashi_under{
	font-size:15px;
	margin-top:-5px;
	font-weight:bold;
	font-family: 'Montserrat',"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	text-align: center;
}
/*見出し装飾背景*/
.midashi{
	background: url(../img/kyotsu/midashikazari@2x.png) no-repeat;
	background-size: 960px;
	background-position:center;
	text-align: center;
	margin-bottom:55px;
	/*margin-bottom:60px;*/
}
.red{
	color:#E2090D
}

/*ヘッダー*/
header{
	display:block;
	width:100%;
	height:115px;
	position:fixed;
	top:0;
	z-index:3;
	-webkit-backface-visibility;
	backface-visibility:hidden;
	background-color:#ffffff;
	transition: .5s; /*ここにtransitionを入れることで、スクロール時にゆっくり上に消える。*/
}
.line{
	width:100%;
	height:15px;
	background: url(../img/line.png) no-repeat;
	background-size:100%; 
}
.mainhaikei img{
	width:100%;
	margin:0 auto;
	position:relative;
	top:10px;
}

.header-inner{
	padding-bottom:10px;
	/*width:1080px;*/
	margin:0 auto;
	height:60px;
	padding-top:15px;
}
.header-inner a{
	color:#222222;
	font-weight:bold;
	height:30px;
	font-size: 1.2rem;
}
.header-top{
	width:100%;
	height:30px;
	float:right;
	display:block;
	margin-bottom:5px;
	text-align: right;
}
.header-bottom{
	width:100%;
	height:30px;
}
.button_otoiawase{
	font-family: 'Montserrat',"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	border-radius:5px;
	padding:8px 20px;
	font-size:12px;
	letter-spacing:.09em;
	width:250px;
	background-color:#E2090D;
	color:#ffffff!important;
	margin-right:10px;
}
.button_faq{
	font-family: 'Montserrat',"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	border-radius:5px;
	padding:8px 20px;
	font-size:12px;
	letter-spacing:.09em;
	width:250px;
	background-color:#444444;
	color:#ffffff!important;
	margin-right:10px;
	
}
.nav_list{
	width: 995px;
	margin:0 auto;
	text-align: center;
	height:50px;
}
.nav_list li{
	display: inline-block;
	margin-right:40px;
	float:left;
	letter-spacing: 0.1em;
	font-family: 'Montserrat',"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}
.nav_list li a:hover{
	color:#E2090D;
}
.nav_list .nav_link{
	font-size:16px;
	letter-spacing: 0.1em;
}
.nav_jap{
	font-size:11px;
	margin-top:4px;
	font-family: 'Montserrat',"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	letter-spacing: 0px;
	font-weight:bold;
}
.homelogo{
	width: 110px;
	float:left;
}
.homelogo img{
	position: relative;
	left:0;
	top:-25px;
	width:110px;
	height:auto;
	margin:0 auto;
	
}

/* メイン画像*/
.maingazo{
	position: relative;
	overflow: hidden;
}


.maingazo .gazo img{
    display: block;
    width: 100%;
    height:  auto;
    padding-top: 115px;
}
.maingazo .logo img{
 	position: absolute;/*絶対配置*/
	width:310px;
 	 top: 60%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;/*余計な隙間を除く*/
  padding:0;/*余計な隙間を除く*/
    
}




/*===コンテンツエリア===*/

.contents_wrap{
	width:100%;
	height:auto;
	background: #f3e4d0;
	position: relative;
	
}
/*コンテンツ見出し:*/
.contents_midashiarea{
	margin-top:80px;
	width:960px;
	
}
.contents_midashiarea p{
	
}
.contents_midashiarea .jusyo{
	font-size:17px;
	line-height: 5px;
}
.contentsarea{
	width:1050px;
	height:auto;
	background: #fff;
	margin-top:30px;
	border-radius: 20px;
	margin-bottom:50px;
}


/*会場マップエリア*/
.maparea{
	width:900px;
	height:350px;
	padding-top:50px;
	padding-bottom:50px;
}
/*ここまで会場マップエリア*/

/*エリアタブ*/
.areatabu{
	width:885px;
	height:82px;
}
.tabnavi{
	text-align: center;
}
.areatabu li{
	width:32%;
	margin:6px;
	display:block;
	float:left;
	margin:0 10px 10px 0 !important;
	line-height:16px;
	text-align:center;
}
.areatabu li a{
	display:block;
	text-decoration:none;
	transition:0.3s;
	font-size:14px;
	color:#fff;
	padding:10px 0;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Montserrat',"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}
.taberu{
	background-color: #ED2C2C;
}
.tabnavi .taberu a:hover,.tabnavi .taberu a.active{
	background-color:rgba(255,255,255,1);
	color:#ED2C2C;
	box-shadow:1px 1px 7px rgba(237,44,44,.4);
}
.stage{
	background-color: #FDE032;
}
.tabnavi .stage a:hover,.tabnavi .stage a.active{
	background-color:rgba(255,255,255,1);
	color:#FDE032;
	box-shadow:1px 1px 7px rgba(253,224,50,.4);
}
.experience{
	background-color: #B8F06A;
}
.tabnavi .experience a:hover,.tabnavi .experience a.active{
	background-color:rgba(255,255,255,1);
	color:#B8F06A;
	box-shadow:1px 1px 7px rgba(184,240,106,.4);
}
.know{
	background-color: #267BEF;
}
.tabnavi .know a:hover,.tabnavi .know a.active{
	background-color:rgba(255,255,255,1);
	color:#267BEF;
	box-shadow:1px 1px 7px rgba(38,123,239,.4);
}
.shop{
	background-color: #FF9F14;
}
.tabnavi .shop a:hover,.tabnavi .shop a.active{
	background-color:rgba(255,255,255,1);
	color:#FF9F14;
	box-shadow:1px 1px 7px rgba(255,159,20,.4);
}
.gomi{
	background-color: #ccc;
}.tabnavi .gomi a:hover,.tabnavi .gomi a.active{
	background-color:rgba(255,255,255,1);
	color:#ccc;
	box-shadow:1px 1px 7px rgba(204,204,204,.4);
}
/*エリアタブ*/


/*===テキストエリア===*/

.textarea{
	width:900px;
	padding-top:40px;
	margin:0 auto;
	text-align:center;
}
#map_title{
	text-align:center;
	font-weight:bold;
	font-size:18px;
	padding:5px 0;
	color:#fff;
	margin-bottom:25px;
}

/*===フッターエリア===*/
#footerarea{
	background: #083e7a;
	padding-top:40px;
	padding-bottom:30px;
	text-align: center;
	margin:0 auto;
	color:#fff;
	font-family: 'Montserrat',"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}
#footerarea a{
	color:#fff;
}
.footer .midashi{
	text-align: center;
	color:#222!important;
}
.footer .footer_logo img{
	text-align: center;
}
/*フッターテキストエリア*/
.footer_title{
	font-size:16px;
	line-height: 10px;
	padding-bottom:10px;
	font-weight:bold;
	letter-spacing: 1px;
}
.footer_text{
	padding-top:15px;
	color:#fff;
	line-height: 18px;
	font-size:12px;
	letter-spacing: 1px;
}

/*フッターカテゴリエリア*/
/*===フッター共通===*/
.footer_kategoribox{
	width:240px;
	height:160px;
	float:left;
	margin:10px;
}
.footer_kategori_title{
	font-size:20px;
	font-family: 'Cabin Sketch', cursive;
	letter-spacing: 1px;
	text-align: left;
	width:240px;
	height:20px;
	border-bottom:1px #fff solid;
	padding-bottom: 6px;
}
.footer_kategori_text{
	text-align: left;
	font-size:13px;
	letter-spacing: 1px;
	line-height: 20px;
}

.footer_kategori{
	width:1040px;
	height:165px;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:30px;
	text-align: center;
	overflow: hidden;
	
}


/*CONTENTSエリア*/
.contents{
	overflow:hidden;
	text-align: left;

}
.contents_left{
	float:left;
	width:120px;
}
.contents_right{
	float:right;
	width:120px;
}

.footer_copy{
	text-align: right;
	padding-right:10px;
	font-size:10px;
}




