/* CSS Document */
/*===デザイン定義===*/
/*
カラー指定：赤（#E2090D）、青（#083e7a）、白（#ffffff）、ベージュ（#f3e4d0）
フォントカラー：#222222
フォント：日本語（游ゴシック体）、アルファベット（Cabin Sketch, cursive）、数字（検討中）
フォントサイズ：英語見出し（）、日本語サブ見出し（）、通常テキスト、


*/
/*ローディング中画像*/
#loader{
    width: 80px;
    height: 80px;
    display: none;
    position: fixed;
    _position: absolute;     /* IE6対策 */
    top: 50%;
    left: 50%;
    margin-top: -40px;       /* heightの半分のマイナス値 */
    margin-left: -40px;      /* widthの半分のマイナス値 */
    z-index: 10;             /* #fadeより多い値を入れて下さい */
}
#loader p{
	font-family: 'Cabin Sketch', cursive;
	font-size:20px;
	letter-spacing: 3px;
	margin-top:10px;
}
#fade{
    width: 100%;
    height: 100%;
    display: none;
    background-color: #f3e4d0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;              /* #loaderより少ない値を入れて下さい */
}
/*ここまでローディング中画像*/
html{
	width:100%;
	font-size:65%;
	font-family: 'Montserrat',"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	/*font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";*/
}
body{
	width:100%;
	/*background-color:#f3e4d0;*/
	color:#222222;
	background-color:#f3e4d0;
}

/*===共通===*/
.midashi h2{
	font-size:45px;
	letter-spacing: 0.1em;
	font-family: 'Cabin Sketch', cursive;
}
.midashi_under{
	font-size:15px;
	margin-top:-5px;
	font-weight:bold;
	font-family: 'Montserrat',"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	text-align: center;
}
/*見出し装飾背景*/
.midashi{
	background: url(../img/kyotsu/midashikazari@2x.png) no-repeat;
	background-size: 960px;
	background-position:center;
	text-align: center;
	/*margin-bottom:60px;*/
}
/*ヘッダー*/
header{
	display:block;
	width:100%;
	height:115px;
	position:fixed;
	top:0;
	z-index:3;
	-webkit-backface-visibility;
	backface-visibility:hidden;
	background-color:#ffffff;
	transition: .5s; /*ここにtransitionを入れることで、スクロール時にゆっくり上に消える。*/
}
.line{
	width:100%;
	height:15px;
	background: url(../img/line.png) no-repeat;
	background-size:100%; 
}
.mainhaikei img{
	width:100%;
	margin:0 auto;
	position:relative;
	top:10px;
}

.header-inner{
	padding-bottom:10px;
	/*width:1080px;*/
	margin:0 auto;
	height:60px;
	padding-top:15px;
}
.header-inner a{
	color:#222222;
	font-weight:bold;
	height:30px;
	font-size: 1.2rem;
}
.header-top{
	width:100%;
	height:30px;
	float:right;
	display:block;
	margin-bottom:5px;
	text-align: right;
}
.header-bottom{
	width:100%;
	height:30px;
}
.button_otoiawase{
	font-family: 'Montserrat',"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	border-radius:5px;
	padding:8px 20px;
	font-size:12px;
	letter-spacing:.09em;
	width:250px;
	background-color:#E2090D;
	color:#ffffff!important;
	margin-right:10px;
}
.button_faq{
	font-family: 'Montserrat',"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	border-radius:5px;
	padding:8px 20px;
	font-size:12px;
	letter-spacing:.09em;
	width:250px;
	background-color:#444444;
	color:#ffffff!important;
	margin-right:10px;
	
}
.nav_list{
	width: 995px;
	margin:0 auto;
	text-align: center;
	height:50px;
}
.nav_list li{
	display: inline-block;
	margin-right:40px;
	float:left;
	letter-spacing: 0.1em;
	font-family: 'Montserrat',"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}
.nav_list li a:hover{
	color:#E2090D;
}
.nav_list .nav_link{
	font-size:16px;
	letter-spacing: 0.1em;
}
.nav_jap{
	font-size:11px;
	margin-top:4px;
	font-family: 'Montserrat',"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	letter-spacing: 0px;
	font-weight:bold;
}

.homelogo{
	width: 110px;
	float:left;
}
.homelogo img{
	position: relative;
	left:0;
	top:-25px;
	width:110px;
	height:auto;
	margin:0 auto;
	
}
/* メイン画像*/
.maingazo{
	position: relative;
	overflow: hidden;
}


.maingazo .gazo img{
    display: block;
    width: 100%;
    height:  auto;
    padding-top: 105px;
}
.maingazo .logo img{
 	position: absolute;/*絶対配置*/
	width:310px;
 	 top: 60%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;/*余計な隙間を除く*/
  padding:0;/*余計な隙間を除く*/
    
}




/*===コンテンツエリア===*/

.contents_wrap{
	width:100%;
	height:auto;
	background: #f3e4d0;
	position: relative;
	
}
/*コンテンツ見出し:*/
.contents_midashiarea{
	margin-top:80px;
	width:960px;
	
}
.contents_midashiarea p{
	margin-top:50px;
	font-size:15px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 37px;
	font-weight: bold;
	
}
.contentsarea{
	width:1050px;
	height:auto;
	background: #fff;
	margin-top:30px;
	border-radius: 20px;
	margin-bottom:90px;
	padding-bottom:50px;
}

.summary_title{
	background: url(../img/about/about_hata@3x.png) no-repeat;
	background-size: 912px 100px;
	background-position:center;
	height:100px;
	padding-top:150px;
	letter-spacing: 1px;
	text-align: center;
}
.summary_subtitle{ 
	font-family: 'Cabin Sketch', cursive!important;
	font-size:36px;
	letter-spacing: 4px;
}
.summary_title h3{
	font-weight:bold;
	font-family: 'Montserrat',"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	letter-spacing: 1px;
	font-size: 18px;
	margin-top:10px;
}


/*波アニメーションエリア*/
/*
.wave {
	position: absolute;
	top:400px;
	bottom: 0;
	
}*/



/*===SUMMARYエリア===*/

.summary_textarea{

	width:960px;
	padding-top:10px;
	
}

.summary_textarea ul li{
	margin:0 0 4px 0;
	margin-bottom:18px;
	letter-spacing: 1px;
}
.summary_textarea ul li .text{
	font-size:14px;
	font-weight:bold;
	line-height:25px;
	letter-spacing: 1px;
	width:505px;
}
/*タブ*/
.summary_textarea ul li .tabu{
	display:inline-block;
	background:#E2090D;
	padding:0;
	height:25px;
	font-size:13px;
	width:80px;
	text-align: center;
	line-height:25px;
	margin-right:16px;
	color:#fff;
	border-radius:5px;	
	font-weight:bold;
}
.summary_textarea ul li .tabu_koen{
	float:left;
}
.summary_textarea ul li .tabu_kyosan{
	float:left;
}
/*ここまでタブ*/


.summary_textarea .text_left{
	width:700px;
	text-align: left;
	color:#222;
}

.summary_textarea .text_right li .text_koen{
	line-height: 20px;
	font-size:14px;
	font-weight:bold;
	overflow:hidden;
}
.summary_textarea .text_right li .text_kyosan{
	line-height: 20px;
	font-size:10px;
	overflow:hidden;
	/*font-weight:bold;*/
}












/*===フッターエリア===*/
#footerarea{
	background: #083e7a;
	padding-top:40px;
	padding-bottom:30px;
	height:335px;
	text-align: center;
	margin:0 auto;
	color:#fff;
}
#footerarea a{
	color:#fff;
}

.footer .midashi{
	text-align: center;
	color:#222!important;
}
.footer .footer_logo img{
	text-align: center;
}
/*フッターテキストエリア*/
.footer_title{
	font-size:16px;
	line-height: 10px;
	padding-bottom:10px;
	font-weight:bold;
	letter-spacing: 1px;
}
.footer_text{
	padding-top:15px;
	color:#fff;
	line-height: 18px;
	font-size:12px;
	letter-spacing: 1px;
}

/*フッターカテゴリエリア*/
/*===フッター共通===*/
.footer_kategoribox{
	width:240px;
	height:160px;
	float:left;
	margin:10px;
}
.footer_kategori_title{
	font-size:20px;
	font-family: 'Cabin Sketch', cursive;
	letter-spacing: 1px;
	text-align: left;
	width:240px;
	height:20px;
	border-bottom:1px #fff solid;
	padding-bottom: 6px;
}
.footer_kategori_text{
	text-align: left;
	font-size:13px;
	letter-spacing: 1px;
	line-height: 20px;
}

.footer_kategori{
	width:1040px;
	height:160px;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:30px;
	text-align: center;
	overflow: hidden;
	
}


/*CONTENTSエリア*/
.contents{
	overflow:hidden;
	text-align: left;

}
.contents_left{
	float:left;
	width:120px;
}
.contents_right{
	float:right;
	width:120px;
}

.footer_copy{
	text-align: right;
	padding-right:10px;
}




